# here"s a sample directory 
test_directory = Dir(base="tests/", 
                     index_file="index.html", 
                     default_ctype="text/plain") 
 
 
handler_test = Handler(send_spec="tcp://127.0.0.1:9997", 
                       send_ident="96D9AB03-782A-419A-BD76-EC5A3DFFB0BC", 
                       recv_spec="tcp://127.0.0.1:9996", recv_ident="") 
 
 
# your main host 
mongrel2 = Host(name="localhost", routes={ 
    "/handlertest": handler_test, 
    "/tests/": test_directory
}) 
 
# the server to run them all 
main = Server( 
    uuid="69D9E168-97D2-49F4-A96F-ADD251100FFB", 
    access_log="/logs/access.log", 
    error_log="/logs/error.log", 
    chroot="./", 
    pid_file="/run/mongrel2.pid", 
    default_host="localhost", 
    name="main", 
    port=6767,  
    hosts=[mongrel2] 
) 

 
servers = [main]
